body
{
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#container
{
    width: 70%;
    padding: auto;
    text-align: left;
    margin: auto;
    color: black;
    background-color: gray;
}

#cabecera
{
    background-color: blue;
    color: white;
}